<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audio youtube downloader</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="stylesheet" href="/css/animation.css">
</head>
<body>
<main class="container">

    <h1>Only audio mode</h1>
    <form  action="/link" method="post" >
        <label>Video link
            <input required type="url" name="link" placeholder="https://www.youtube.com/watch?v=xyz">

        </label>
<input type="submit" value="Download audio">
    </form>
    <form hx-post="/results" hx-target="#results">
        <label>Look for a song
            <input required name="videoLink" id="videoLink" type="text">
        </label>
        <button >
            Click Me
            <img class="htmx-indicator" id="loading" src="../img/load.svg"/>
        </button>
    </form>
    <div id="results"></div>
</main>

</body>
</html>