<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download option</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">

</head>
<body>
<main class="container">

<h1>Download option</h1>
<form action="/downloadOption" method="post">
    <input type="radio" checked value="video" name="downloadType" id="video">Download video
    <input type="radio" value="audio" name="downloadType" id="audio">Download audio
    <input type="submit" value="Download video ">
</form>
</main>

</body>
</html>