<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">

    <title>Own link</title>
</head>
<body >
<main class="container">
    <h1>I see that you have the link for the video you want to download</h1>
    <form action="/link" method="post">
        <label>Video link
            <input required type="url" name="link">
        </label>
        <h2>Download type</h2>
        <div>
        <label for="video">Download video <input required type="radio" checked value="video" name="downloadType" id="video"></label>
        <label for="audio">Download audio <input required value="audio" type="radio" name="downloadType" id="audio"></label>
        </div>

            <input type="submit" value="Download video">
    </form>

</main>


</body>
</html>