<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  <link rel="stylesheet" href="../css/animation.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

</head>
<body>
<main class="container">
<h1>Look for the video you want to download</h1>
<form hx-post="/linkResults" hx-target="#results" hx-indicator="#loading">
  <label>Desired video
    <input required name="videoLink" id="videoLink" type="text">
  </label>
  <button >
    Click Me
    <img class="htmx-indicator" id="loading" src="../img/load.svg"/>
  </button>
</form>
</main>
<div id="results"></div>
</body>
</html>
