<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  <link rel="stylesheet" href="../css/animation.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
</head>
<body class="bg-white text-gray-900">
<main class="container mx-auto p-4">
  <h1 class="text-4xl font-bold text-red-600">Look for the video you want to download</h1>
  <form hx-post="/linkResults" hx-target="#results" hx-indicator="#loading" class="mt-4">
    <label class="block mb-2">Desired video
      <input required name="videoLink" id="videoLink" type="text" class="w-full p-2 border border-gray-300 rounded">
    </label>
    <button class="flex items-center bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">
      Click Me
      <img alt="loading animation" class="htmx-indicator ml-2" id="loading" src="../img/load.svg"/>
    </button>

  </form>
</main>
<div id="results" ></div>
</body>
</html>
